*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
    color:#333;
    line-height:1.8;

    opacity:0;
    transition:1s;
}

header{
    background:#fff;
    padding:60px 20px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

header h1{
    font-size:42px;
    color:#000000;
    margin-bottom:15px;
}

.subjudul{
    font-size:20px;
    color:#666;
}

.hero{

    text-align:center;

    margin:35px 0;

}

.hero img{
    width:70%;
    max-width:700px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.artikel{
    background:#fff;
    max-width:1100px;
    margin:40px auto;
    padding:50px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.artikel h2{
    color:#000000;
    font-size:32px;
    margin-bottom:25px;
}

.artikel p{
    font-size:18px;
    text-align:justify;
    margin-bottom:22px;
}

.kontak{
    background:#fff;
    max-width:900px;
    margin:40px auto;
    padding:50px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.kontak h2{
    color:#000000;
    margin-bottom:20px;
}

.kontak p{
    margin-bottom:35px;
}

.waButton{
    display:inline-block;
    background:#25D366;
    color:#fff;
    padding:18px 40px;
    border-radius:8px;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    transition:.3s;
}

.waButton:hover{
    background:#128C7E;
}

.alamat{
    background:#fff;
    max-width:900px;
    margin:40px auto;
    padding:40px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.alamat h2{
    color:#000000;
    margin-bottom:20px;
}

footer{
    background:#000000;
    color:#fff;
    text-align:center;
    padding:30px;
    margin-top:60px;
}

section{
    opacity:0;
    transform:translateY(50px);
    transition:.8s;
}

section.show{
    opacity:1;
    transform:translateY(0);
}

#topBtn{
    position:fixed;
    right:25px;
    bottom:25px;
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:#005baa;
    color:#fff;
    font-size:22px;
    cursor:pointer;
    display:none;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
    transition:.3s;
}

#topBtn:hover{
    background:#003f7d;
}


@media(max-width:768px){

    header{
        padding:40px 20px;
    }

    header h1{
        font-size:30px;
    }

    .subjudul{
        font-size:16px;
    }

    .hero{
        margin:20px auto;
        padding:0 15px;
    }

    .artikel{
        margin:20px 15px;
        padding:30px;
    }

    .artikel h2{
        font-size:26px;
    }

    .artikel p{
        font-size:16px;
    }

    .kontak,
    .alamat{
        margin:20px 15px;
        padding:30px;
    }

    .waButton{
        width:100%;
        padding:15px;
        font-size:18px;
    }

}